<div class="jumbotron" style="margin-top: 20px;">
	<div class="row" title="Dashboard" style="margin-left: 0px;">
		<h4>
			<b>Dashboard</b>
		</h4>
	</div>

	<div class="row">
		<div class="col-md-3" style="margin-top: 16px;">
			<p class="input-group">
				<input type="text" class="form-control"
					uib-datepicker-popup="{{vm.format}}" id="datepicker"
					ng-model="vm.selectedDate" is-open="vm.popup.opened"
					datepicker-options="vm.dateOptions" close-text="Close" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.open()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
		<div class="col-md-3" style="margin-top: 16px;">
			<button type="submit" class="btn btn-default btn-success card"
				ng-click="vm.submit(vm.selectedDate)">Submit</button>
		</div>

		<!-- <div class="col-md-6" style="margin-top:16px;">
		     <button type="button" class="btn btn-default btn-primary card" title="Upload" data-toggle="modal" data-target="#uploadModal">
	          <span class="glyphicon glyphicon-upload"></span> Upload
	        </button>
         </div>	 --> 
	</div>

	<div class="container text-center row">
		<div style="padding-top: 20px; padding-bottom: 20px; padding-right: initial; padding-left: inherit;">
		
			<table ng-if="vm.ctrlData" class="table table-bordered table-striped table-condensed table-hover card">
				<thead>
					<tr>	
						<th style="text-align:center;" >Region</th>	
						<th style="text-align:center;" >Volume</th>				
						<th style="text-align:center;" >Processed</th>
						<th style="text-align:center;" >Error</th>
						<th style="text-align:center;" >Rejected</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, value) in vm.ctrlData">
						<td>{{key}}</td>
						<td ng-if="value.PROCESSED || value.ERROR|| value.REJECTED">{{value.PROCESSED+value.ERROR+value.REJECTED}}</td>
						<td ng-if="!value.PROCESSED && !value.ERROR && !value.REJECTED">0</td>
						<td ng-if="value.PROCESSED">{{value.PROCESSED}}</td>
						<td ng-if="!value.PROCESSED">0</td>
						<td ng-if="value.ERROR">{{value.ERROR}}</td>
						<td ng-if="!value.ERROR">0</td>
						<td ng-if="value.REJECTED">{{value.REJECTED}}</td>
						<td ng-if="!value.REJECTED">0</td>
					</tr>
				</tbody>
			</table>
			<!--  <table class="table table-bordered table-striped table-condensed table-hover card">
		                     <thead>
			                     <tr>
			                        <th>Region</th>
			                        <th>Volume</th>
			                        <th>Processed</th>
			                        <th>Rejected</th>
			                        <th>Error</th>
			                     </tr> 
		                     </thead> 
		                     <tbody>                   
			                     <tr ng-repeat = "x in vm.users">
			                        <td>{{ x.Region }}</td>
			                        <td>{{ x.Volume }}</td>
			                        <td>{{ x.Processed }}</td>
			                        <td>{{ x.Rejected }}</td>
			                        <td>{{ x.Error }}</td>
			                     </tr>
		                     </tbody>							
		                  </table> -->
		</div>
	</div>
</div>
